<div *ngIf="product">
    <!-- ngNativeValidate -->
    <form (submit)="send()" #productForm="ngForm">
        <label>Name: </label>
        <input type="text" name="name" [(ngModel)]="product.name" #nameControl="ngModel" required minlength="2" maxlength="30">
        <span *ngIf="nameControl.errors?.['required'] && nameControl.touched">Missing name.</span>
        <span *ngIf="nameControl.errors?.['minlength'] && nameControl.touched">Name too short</span>
        <span *ngIf="nameControl.errors?.['maxlength'] && nameControl.touched">Name too long</span>
        <p></p>

        <label>Price: </label>
        <input type="number" name="price" step="0.01" [(ngModel)]="product.price" #priceControl="ngModel" required minlength="0" maxlength="1000">
        <span *ngIf="priceControl.errors?.['required'] && priceControl.touched">Missing price.</span>
        <span *ngIf="priceControl.errors?.['minlength'] && priceControl.touched">price too short</span>
        <span *ngIf="priceControl.errors?.['maxlength'] && priceControl.touched">price too long</span>



        <label>Stock: </label>
        <input type="number" name="stock" [(ngModel)]="product.stock" #stockControl="ngModel" required minlength="0" maxlength="1000">
        <span *ngIf="stockControl.errors?.['required'] && stockControl.touched">Missing price.</span>
        <span *ngIf="stockControl.errors?.['minlength'] && stockControl.touched">Stock too short</span>
        <span *ngIf="stockControl.errors?.['maxlength'] && stockControl.touched">Stock too long</span>

        
        <label>Image:</label>
        <input type="file" accept="image/*" name="image" #productImage>
        <img [src]="product.imageUrl">

        <button [disabled]="productForm.invalid">Update</button>


    </form>


</div>
